'editor': {}
'core': {}
'exception-reporting':
  'userId': 'adaafeb8-bc23-4548-6cbd-b1ee8b7f45bb'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'c5c6463055fca50078f6817afca15adeb1bd4545'
